.multiselect-caret{
	mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%237E8299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
	-webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%237E8299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
	width: 0.9rem !important;
}

.dp__input{
	padding: 0.775rem 30px !important;
	background-color: var(--kt-input-solid-bg) !important;
	border-color: var(--kt-input-solid-bg) !important;
	color: var(--kt-input-solid-color) !important;
	transition: color .2s ease !important;
	font-family: var(--bs-body-font-family) !important;
	font-size: 1.1rem !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}

.multiselect-search{
	background: var(--kt-input-solid-bg) !important;
}

.grayscle-area { filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); }

.address-area-map iframe { width:100%; border:none; }

.sf-job-benner {
  position: relative;
  background-color: #eee;
}
.banner-job-row {
  background-size: cover;
  background-position: center center;
  position: relative;
}
.job-listing-meta .meta{
  padding-left: 0;
  margin-left: 0;
}

.sf-banner-job-heading-wrap {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  text-align: center;
}
.sf-banner-job-heading-area {
  display: table-cell;
  padding: 50px 15px;
  vertical-align: middle;
}
.sf-banner-job-heading-large {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 800;
  color: #fff;
  font-family: 'Work Sans', sans-serif !important;
}
.font-1{
  font-family: 'Work Sans', sans-serif !important;
}
.sf-banner-job-logo-pic {
  width: 110px;
  margin: 10px auto 20px;
  border-radius: 10px;
}
.sf-banner-job-logo-pic img {
  width: 100%;
  border-radius: 10px;
}
.sf-banner-job-dutation {
  list-style: none;
  margin: 0px auto 110px;
}
@media only screen and (max-width:767px){
  .sf-banner-job-dutation {
  margin-bottom: 0px;
  }
}
.sf-banner-job-dutation li {
  display: inline-block;
  padding: 0px 15px;
  border-right: 1px solid #777;
  font-size: 18px;
  line-height: 1.2;
}
.sf-banner-job-dutation li:last-child {
  border: none;
}

.sf-banner-job-dutation li .jobs-date-label {
  color: #fff;
  background-color: var(--kt-primary);
  display: inline-block;
  padding: 7px 12px;
  border-radius: 10px;
  margin-left: 10px;
}
.sf-job-details-fileds-two {
  border-radius: 1px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 20px rgba(105, 85, 138, 0.24);
  margin: -100px auto 50px;
  z-index: 1;
  position: relative;
}
.sf-job-details-fileds-two ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px -2px -1px;
}
.sf-job-details-fileds-two ul li {
  padding: 25px 20px 30px 40px;
  display: block;
  width: 33.333333%;
  margin-right: -1px;
  border: 0px dashed #ddd5eb;
  margin-bottom:-1px;
}
@media only screen and (max-width:767px){
  .sf-job-details-fileds-two{margin-top: 30px; margin-bottom: 30px;}
  .sf-job-details-fileds-two ul li{
    width: 100%;
  }
  .sf-banner-job-dutation li {
    margin-bottom: 20px;
  }
}
.sf-job-details-fileds-two ul li span {
  padding: 0;
  display: block;
  width: auto;
}
.sf-job-details-fileds ul li:nth-child(2n) {
  background-color: #fff;
}
.sf-job-details-fileds ul li .job-meta-icon {
  float: left;
  margin-right: 20px;
  margin-top: 4px;
}
.sf-job-details-fileds ul li .sf-job-meta-info {
  overflow: hidden;
}
.sf-job-details-fileds ul li .job-meta-title {
  display: inline;
  margin: 0px;
}
.sf-job-details-fileds ul li .job-meta-text {
  line-height: 1;
}
.sf-job-details-fileds ul li .job-meta-text {
  line-height: 1;
}

.square-list-style { list-style:none; }
.square-list-style li { position: relative; padding-left:20px; line-height:42px; }
.square-list-style li:before { content:""; width:8px; height:8px; background: #000; position:absolute; top:18px; left: 0px; }


.aon-job-gallery { margin-bottom:50px; }
.job-gallery {
  list-style: none;
  margin: 0px;
}
.job-gallery li {
  width: 25%;
  padding: 0px;
  float: left;
  position: relative;
}
.job-gallery li .job-gallery-pic {
  background: #ddd;
  height: 200px;
  background-image: url("../images/job-gallery/pic.jpg");
  background-position: center;
}
@media only screen and (max-width:767px){
  .job-gallery li .job-gallery-pic{
    height: 130px;
  }
  .job-gallery li{width: 50%;}
}
.job-gallery li .job-gallery-link {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 15px;
  background: #fc7c50; 
  opacity: 0;
  font-size: 50px;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.job-gallery li:hover .job-gallery-link {
  opacity: 0;
}
.job-gallery li:last-child .job-gallery-link {
  opacity: 1;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 0;
}


.aon-job-video { 
    margin-bottom:80px; 
}
.sf-pres-video-pic {
  position: relative;
}
.sf-pres-video-pic img {
  border-radius: 10px;
    width:100%;
}
.sf-pres-video-pic .overlay-vid {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
}
.sf-pres-video-icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.sf-pres-video-icon i {
  font-size: 100px;
  color: #fff;
}
sf-pres-video-pic .overlay-vid {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
}
.sf-pres-video-icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.sf-pres-video-icon i {
  font-size: 100px;
  color: #fff;
}
.sf-btn-large2 {
  font-size: 20px;
  color: #000;
  border: none;
  background-color: #ffb600;
  border-radius: 6px;
  padding: 10px 30px;
  display: block;
  width: 100%;
  text-align: center;
}
.sf-jobdetail-blocks {
  margin-bottom:60px;
}
.sf-jobdetail-blocks .sf-title {
  margin-bottom: 20px;
}
.sf-jobdetail-blocks .sf-con-social li {
  margin: 0px 0px 15px 0px;
  display: block;
  text-align: center;
}

.dropzone {
    min-height: 150px;
    border: 2px dashed rgb(2, 34, 121);
    background: white;
    padding: 20px 20px;
}

.dropzone span {
    background-color: #ffb600;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    display:table;
    margin: auto; 
}

.dropzone .dz-preview .dz-image img{
  width: 100px !important;
}

.sf-provi-coInfo-map {
  height: 290px;
  border-radius: 10px;
  overflow:hidden;
}
@media only screen and (max-width:767px){
  .sf-provi-coInfo-map {
    margin-bottom: 30px;
  }
}

.gmap-area { width:100%; height:100%; }
.gmap-area iframe { width:100%; height:100%; border:none;  filter: grayscale(100%); }

.sf-list-business-hours ul {
  margin: 0;
}
.sf-list-business-hours li {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.sf-list-business-hours span:first-child {
  display: table-cell;
  text-align: left;
  font-weight: 300;
  width: 25%;
  font-size: 14px;
  font-weight: 600;
}
.sf-list-business-hours span {
  display: table-cell;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}

.sf-list-business-hours span:first-child b {
  float: right;
  font-weight: 300;
}
.sf-provi-coInfo-hour.sf-list-business-hours {
  padding: 0px;
}
.sf-provi-coInfo-hour.sf-list-business-hours span:last-child {
  text-align: right;
}
.sf-provi-coInfo-hour.sf-list-business-hours span:last-child {
  text-align: right;
}
@media only screen and (max-width:767px){
  .sf-list-business-hours li,
  .sf-list-business-hours span:first-child,
  .sf-list-business-hours span{
    display: block;
  }
  .sf-list-business-hours span{text-align: left;}
  .sf-provi-coInfo-hour.sf-list-business-hours span:last-child {text-align: left;}
  .yunior{
    display: none;
  }
}
.sf-provi-coInfo-hour.sf-list-business-hours li {
  padding-bottom: 0px;
}

.aon-page-benner-area {
  position: relative;
}
.sf-banner-heading-wrap {
  display: table;
  position: relative;
  height: 400px;
  margin: auto;
  text-align: center;
}
.sf-banner-heading-area {
  display: table-cell;
  padding: 12px 15px;
  vertical-align: bottom;
  color: #fff;
}
.sf-banner-heading-large {
  font-size: 55px;
  margin-bottom: 15px;
  font-weight: 300;
}
@media only screen and (max-width:480px){
  .sf-banner-heading-wrap {
    height: 290px;
  }
  .sf-banner-heading-large {
    font-size: 36px;
  } 
}
.sf-banner-heading-large strong {
  font-weight: 600;
}
.sf-banner-breadcrumbs-nav ul {
  margin: 0;
}
.sf-banner-breadcrumbs-nav ul li {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin-right: 20px;
  color: #fff;
}
.sf-banner-breadcrumbs-nav ul li a {
  color: #fff;
}
.sf-banner-breadcrumbs-nav ul li:after {
  content: "\f105";
  position: absolute;
  right: -13px;
  top: 1px;
  font-size: 18px;
  color: #fff;
  font-family: "FontAwesome";
  margin-left: 7px;
}
.sf-banner-breadcrumbs-nav ul li:last-child:after {
  display: none;
}
.sf-overlay-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.text-header-label{
  font-weight: 700;
  font-size: 17px;
  font-family: 'Work Sans', sans-serif !important;
}
.fs-17px{
  font-size: 17px;
  font-family: 'Work Sans', sans-serif !important;
}
.padding-social{
  padding-top: 30px;
  padding-right: 100px;
}
.mr-25{
  margin-right: 25px !important;
}

/** ESTILOS DE LA LISTA DE PROVEEDORES **/
.sf-vender-list-wrap {
  margin-bottom: 30px;
}
.sf-vender-list-box {
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 2px 20px -2px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 2px 20px -2px rgb(0 0 0 / 10%);
}

.sf-vender-list-wrap {
  position: relative;
  z-index: 1;
}

.sf-vender-list-pic {
  width: 220px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.sf-vender-pic-link{width: 100%; height: 100%; display: block;}

.sf-vender-list-info {
  width: calc(100% - 220px);
  padding: 30px;
  position: relative;
}

@media only screen and (max-width:1400px){
.aon-vender-list-wrap-outer [class*="col-"] { min-width:100%; }
}
@media only screen and (max-width:1200px){
  .sf-vender-list-pic{width: 100%; min-height: 280px;}
  .sf-vender-list-info{width: 100%;}
}
@media only screen and (max-width:575px){
  .sf-vender-list-box{ display: block !important;}

}

@media only screen and (max-width:420px){
  .sf-vender-list-pic{ min-height: 200px;}
}
.sf-vender-list-info .sf-venders-title {
  margin-bottom: 15px;
}
.sf-vender-list-info .sf-venders-address .fa {
  margin-right: 5px;
}
.sf-vender-list-info .sf-ow-pro-rating {
  line-height: 1;
  margin: 10px 0px 15px;
}
.sf-vender-list-info .sf-pro-check {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.sf-vender-list-info .sf-pro-check span {
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  background-color: var(--kt-dark);
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
}
.sf-vender-list-info .sf-pro-favorite {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  margin-right: 10px;
}
.sf-vender-list-info .sf-pro-favorite a {
  font-size: 26px;
  color: #ffb600;
}
.sf-vender-list-info .sf-ow-pro-rating span {
  display: inline-block;
  padding-right: 2px;
  color: #b5b5c3;
  font-size: 16px;
}
.aon-vender-list2-pic {
  width: 220px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aon-vender-list2-info {
  width: calc(100% - 220px);
  padding: 30px;
  position: relative;
}
.aon-vender-list2-info .sf-venders-title {
  margin: 0px;
}
.aon-vender-list2-info .sf-venders-address .fa {
  margin-right: 5px;
}
.aon-vender-list2-info .sf-ow-pro-rating {
  line-height: 1;
  margin: 10px 0px 15px;
}
.aon-vender-list2-info .sf-pro-check {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.aon-vender-list2-info .sf-pro-check span {
  text-align: center;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  background-color: #ffb600;
  color: #000;
  font-size: 14px;
  border-radius: 50%;
}
.aon-vender-list2-info .sf-pro-favorite {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  margin-right: 10px;
}
.aon-vender-list2-info .sf-pro-favorite a {
  font-size: 26px;
  color: #ffb600;
}
.aon-vender-list2-info .sf-ow-pro-rating span {
  display: inline-block;
  padding-right: 2px;
  color: #ffb600;
  font-size: 16px;
}

.pn-request{
  margin-bottom: 20px !important;
}

.sf-shadow-box {
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.sf-rating-averages-wraps {
  color: #555;
}
.sf-rating-categories-new {
  color: #555;
}
.sf-rating-outer-border {
  border: 1px solid #ddd;
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
@media only screen and (max-width:360px){
  .sf-rating-outer-border {
    padding: 5px 10px;
  }
  .sf-rating-averages-cell:first-child {
    padding-right: 8px;
  }
}
.sf-review-box {
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 60px;
}
.sf-review-pic {
  width: 42px;
  height: 42px;
  border-radius: 30px;
  float: left;
  overflow: hidden;
}
.sf-review-info {
  padding-left: 20px;
  overflow: hidden;
}
.sf-review-name {
  margin: 0px 0px 5px;
}
.sf-review-feedback {
  line-height: 1;
}
.sf-review-date {
  clear: both;
  padding: 10px 0px;
}
.sf-review-footer {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: -60px;
}
.sf-review-red-less {
  color: #ffb600;
  cursor: pointer;
}
.sf-review-rating {
  margin: 0px -5px 30px;
  list-style: none;
}
.sf-review-rating li {
  width: 50%;
  padding: 0px 5px;
  margin-bottom:5px;
}
@media only screen and (max-width:360px){
  .sf-review-rating li{width: 100%; padding: 0px;}
}
.sf-review-rating li .sf-ow-pro-rating {
  color: var(--kt-primary);
}
.sf-review-footer {
  line-height: 1.4;
}


.sf-vender-review-tab-area .sf-rating-averagebox {
  float: left;
}
.sf-vender-review-tab-area .sf-stats-rating .sf-average-reviews {
  color: #fff;
}
.sf-vender-review-tab-area .sf-stats-rating .sf-rate-persent, .sf-vender-review-tab-area .sf-stats-rating .sf-average-question {
  color: #fff;
  display: inline;
}
.sf-vender-review-tab-area .sf-stats-rating .sf-completed-tasks {
  color: #fff;
}
.sf-vender-review-tab-area .sf-reviews-summary .sf-reviews-star-no {
  color: #fff;
}
.sf-rating-categories-wraps {
  float: right;
  color: #fff;
  display: table;
  margin-bottom: 30px;
  margin-top: 20px;
}
.sf-rating-categories-table {
  display: table;
  width: 100%;
}
.sf-rating-categories-cell {
  display: table-cell;
  white-space: nowrap;
}
.sf-rating-categories-cell:first-child {
  padding-right: 20px;
}
.sf-rating-categories-cell:last-child {
  text-align: right;
}
.sf-rating-categories-cell .sf-reviews-row {
  display: table;
  width: 100%;
}
.sf-rating-categories-cell .sf-reviews-row .sf-reviews-star, .sf-rating-categories-cell .sf-reviews-row .sf-reviews-star-no {
  display: table-cell;
  padding: 4px 0px;
}
.sf-rating-categories-cell .sf-reviews-row .sf-reviews-star {
  color: var(--kt-primary);
}
.sf-rating-categories-cell .sf-reviews-row .sf-reviews-star-no {
  width: 30px;
}
.sf-rating-averages-wraps {
  float: left;
  color: #fff;
  display: table;
  margin-bottom: 30px;
  margin-top: 20px;
}
.sf-rating-averages-table {
  display: table;
  width: 100%;
}
.sf-rating-averages-cell {
  display: table-cell;
  white-space: nowrap;
}
.sf-rating-averages-cell:first-child {
  padding-right: 20px;
  text-align: right;
}
.sf-rating-averages-cell:last-child {
  text-align: right;
  width: 120px;
}
.sf-rating-averages-cell .sf-reviews-row {
  display: table;
  width: 100%;
}
.sf-rating-averages-cell .sf-reviews-row .sf-reviews-star, .sf-rating-averages-cell .sf-reviews-row .sf-reviews-star-no {
  display: table-cell;
  padding: 4px 0px;
}
.sf-rating-averages-cell .sf-reviews-row .sf-reviews-star {
  color: var(--kt-primary);
}
.sf-rating-averages-cell .sf-reviews-row .sf-reviews-star-no {
  width: 30px;
}
.sf-rating-averages-cell .sf-rating-holder {
  color: #aaabab;
}
.sf-rating-averages-cell .sf-rate-persent, .sf-rating-averages-cell .sf-average-question {
  color: #aaabab;
}
.sf-rating-averages-cell .sf-completed-tasks {
  color: #aaabab;
}
@media only screen and (max-width:767px) {
  .sf-rating-averages-wraps, .sf-rating-categories-wraps {
    float: none;
  }
  .sf-rating-categories-wraps {
    max-width: 315px;
    width: 100%;
  }
}

.truncate-comment{
  overflow:hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/*
@media only screen and (min-width:992px){
  .sf-vender-list-info{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
}
*/

.table.table-row-full-dashed tr{
  border-width:1px;
  border-style:dashed;
  border-color: #A1A5B7;
}

.table.table-row-full-dashed tbody tr:last-child, .table tfoot tr:last-child{
  border-bottom: 1px dashed #A1A5B7!important;
}

.table.table-row-full-dashed.gs-0 td:first-child, .table.gs-0 th:first-child {
  padding-left: 0.75rem;
}

.table.table-row-full-dashed td:first-child, .table th:first-child, .table tr:first-child{
  padding-left: 0.75rem;
}